@import './variables.scss';
@import './mixins.scss';

.wrapper {
  display: flex;
  flex-direction: column;
}

.logoutBtn {
  @include link;
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 18px;
}

.loggedInText {
  @include text;
  position: absolute;
  left: 20px;
  top: 10px;
  font-size: 18px;
}

.role {
  @include text;
  position: absolute;
  left: 20px;
  top: 30px;
  font-size: 18px;
}
