@import './variables.scss';
@import './mixins.scss';

.main {
  @include text;

  height: 100vh;
  width: 100vw;
  background-color: $bg;
  display: flex;
  align-items: center;
  justify-content: center;
}
