@import './variables.scss';

@mixin input {
  margin-top: 30px;
  padding: 10px 0px;
  font-size: 24px;
  width: 300px;
  border-bottom: solid 1px $black;
  color: $black;
  font-family: $ff;
  font-weight: 200;
  text-transform: lowercase;

  &:hover {
    border-bottom: solid 1px $black-hover;
  }
}

@mixin btn {
  color: $black;
  border: solid 1px $black;
  font-size: 24px;
  height: 60px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 30px;
  font-family: $ff;
  font-weight: 200;
  text-transform: lowercase;

  &:hover {
    color: $black-hover;
    border: solid 1px $black-hover;
  }
}

@mixin link {
  color: $black;
  font-size: 24px;
  cursor: pointer;
  font-family: $ff;
  font-weight: 200;
  text-transform: lowercase;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.7px;
    width: 100%;
    background-color: $black;
    cursor: pointer;

    &:hover {
      background-color: $black-hover;
    }
  }

  &:hover {
    color: $black-hover;

    &:after {
      background-color: $black-hover;
    }
  }
}

@mixin text {
  color: $black;
  font-size: 24px;
  font-family: $ff;
  text-transform: lowercase;
  font-weight: 200;
}
