@import './variables.scss';

@mixin input {
  margin-top: 30px;
  padding: 10px 0px;
  font-size: 24px;
  width: 300px;
  border-bottom: solid 1px $black;
  color: $black;
  font-family: $ff;
  font-weight: 200;

  &:hover {
    border-bottom: solid 1px $black-hover;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:first-line {
    border-bottom: solid 1px $black;
    -webkit-text-fill-color: $black;
    -webkit-text-fill-size: 24px !important;
    -webkit-box-shadow: 0 0 0px 1000px $bg inset;
    font-size: 24px !important;
    font-family: $ff !important;
    background-color: $bg !important;
  }
}

@mixin btn {
  color: $black;
  border: solid 1px $black;
  font-size: 24px;
  height: 60px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 30px;
  font-family: $ff;
  font-weight: 200;

  &:hover {
    color: $black-hover;
    border: solid 1px $black-hover;
  }
}
